<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://51.140.61.73:3333/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
            <denyUrlSequences>
               <clear />
            </denyUrlSequences>
            <fileExtensions allowUnlisted="true">
				<clear />
                <add fileExtension=".bin" allowed="true" />
            </fileExtensions>
                <alwaysAllowedUrls>
                    <add url="/fne/bin/capability" />
                </alwaysAllowedUrls>
         </requestFiltering>
        </security>
    </system.webServer>
</configuration>
